.table {
    .center {
        background-color: #d7e9ff;
        min-width: 16rem;
        padding:0 1.6rem;
        border-radius: 2.8rem;

        button {
            color: white;
            margin: 100px;
            font-size: 1.8rem;
            font-weight: 700;
            height: 5.6rem;
            border-radius: 0.8rem;
        }
    }
}